header {
    display: flex;
    justify-content: center;
}

header h5 {
    margin: 50px 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
}

.writeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}